.media-information {
  padding-right: 4%;
  padding-left: 4%;
  color: white;
}

.media-dr {
  color: #A6A6A6;
}

.media-subtitle  {
  color: gray;
}

.media-star-icon {
  font-size: 0.9em;
  padding-left: 20px;
  padding-right: 5px;
}
