.lolmoRow .rowHeader {
  color: #dcdde1;
  font-size: 1.2em;
  margin-left: 20px;
}

.lolmoRow {
  width: 100%;
}

.lolmoRow .items {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  max-width: 100%;
  min-width: 200px;
}::-webkit-scrollbar{
  width: 0;
}

.lolmoRow .items .loading {
  color: #FFFFFF;
}