.lolmoRow .rowHeader {
  color: #dcdde1;
  font-size: 1.2em;
  margin-left: 20px;
}

.lolmoRow .rowHeader::after {
  content: ' >';
}

.lolmoRow {
  width: 100%;
}

.lolmoRow .items {
  overflow-x: scroll;
  display: flex;
  padding-top: 30px;
  padding-right: 4%;
  padding-left: 4%;
}::-webkit-scrollbar{
  width: 0;
}