.mediaItem {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
}

.mediaItem :hover {
  opacity: 0.7;
}

.mediaItem .backdrop img {
  height: 275px;
  width: auto;
}

.mediaItem .info {
  padding-top: 10px;
  text-align: center;
  color: #dcdde1;
}